#about {
    p {
        //color: $base2;
        .emoticon-in-text {
            width: 40px;
            display: inline-block;
        }
    }
    .funny-img {
        width: 300px;
    }
    video {
        width: 600px;
    }
    //.img-container {
    //    max-width: 600px;
    //    margin: auto;
    //    img {
    //        width: 100%;
    //    }
    //}
}