
//for flexbox sticky footer (works great)
html, body {
	height: 100%;
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

$footerHeight: 25px;

body {
    padding-top: 45px;
    color: #777;
    @include characterFont;
    .main {
        min-height: 100%;
        padding: 0 20px 60px 20px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        padding: 11px;
        @include gradient;
        height: $footerHeight;
        position: relative;
        margin-top: -$footerHeight;
        li {
            display: flex;
            align-items: center;
        }

    }
}

h1 {
    color: $base2;
}

a {
    text-decoration: none;
    color: $base1;
    &:hover {
        color: darken($base1, 10%);
    }
}

p {
    @include baseFont;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-bottom: 0;
}

.img-container {
    text-align: center;
    img {
        padding: 25px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 5px #777;
        border-radius: 4px;
        width: 600px;
    }
}

.split-img-container {
    display: flex;
    justify-content: center;
    width: 600px;
    padding: 25px;
    margin: 0 auto 20px auto;
    box-shadow: 3px 3px 5px #777;
    border-radius: 4px;
    img {
        width: 50%;
        height: 310px;
    }
}

