
//for flexbox sticky footer (works great)
html, body {
	height: 100%;
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

$footerHeight: 25px;

body {
    padding-top: 45px;
    color: #777;
    @include characterFont;
    .main {
        padding-bottom: 60px;
        min-height: 100%;
        margin: auto;
    }
    footer {
        display: flex;
        justify-content: space-around;
        padding: 11px;
        @include gradient;
        height: $footerHeight;
        position: relative;
        margin-top: -$footerHeight;
        li {
            display: flex;
            align-items: center;
        }

    }
}

a {
    text-decoration: none;
    color: $base1;
    &:hover {
        color: darken($base1, 10%);
    }
}

p {
    @include baseFont;
}

