
//for flexbox sticky footer (works great)
html, body {
	height: 100%;
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

$footerHeight: 25px;

body {
    padding-top: 45px;
    color: #777;
    @include characterFont;
    .main {
        min-height: 100%;
        padding: 0 20px 60px 20px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        padding: 11px;
        @include gradient;
        height: $footerHeight;
        position: relative;
        margin-top: -$footerHeight;
        li {
            display: flex;
            align-items: center;
        }

    }
}

h1 {
    color: $base2;
}

a {
    text-decoration: none;
    color: $base1;
    &:hover {
        color: darken($base1, 10%);
    }
    word-wrap: break-word;
}

p {
    @include baseFont;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-bottom: 0;
}

.img-container {
    text-align: center;
    img:not(.emoticon) {
        @include image;
        width: 600px;
        &.half-width-img {
            width: 300px;
        }
    }
}

img, video {
    max-width: 100%;
}

.split-img-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    img {
        @include image;
        width: 300px;
    }
}

.img-description {
    @include imageDescription;
}

.portrait {
    .img-description {
        @include imageDescription;
        width: 300px;
    }
}

.movie-description {
    @include movieDescription;
}

