#contact-me {
    //width: 800px;
    color: $base1;
    a {
        font-size: 19px;
    }
    .content {
        margin-top: 50px;
        font-size: 17px;
        .fa-at {
            font-size: 17px;
        }
    }
    @include h1;
}