#contact-me {
    width: 800px;
    @include baseFont;
    color: $base1;
    .content {
        margin-top: 50px;
        font-size: 18px;
        .fa-at {
            font-size: 17px;
        }
    }
}