#looking-for-work {
//    background: $success;
    color: $success;
}

.header {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.introduction {
    margin-top: 10px;
}

.welcome {
    text-align: center;
    .emoticon {
        width: 115px;
        margin-top: -9px;
        margin-bottom: 1px;
    }
}

.codementor-success-story {
    display: flex;
    justify-content: center;
}

.looking-for-work {
    display: flex;
    justify-content: center;
}

.multi-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-container {
        width: 100%;
//        text-align: center;
//        width: 600px;
//        display: flex;
//        justify-content: center;
        .info-container {
//            width: 600px;
//            text-align: center;
            p {
                width: 600px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .btn-container {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            .btn {
                margin: 0 5px;
                width: 100px;
            }
        }
    }
}

