@mixin navBackground {
    background: #FF5F6D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $base1 , $base2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $base1 , $base2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin baseFont {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    font-size: 14px;
}

@mixin characterFont {
    font-family: "Annie Use Your Telescope";
    font-size: 17px;
}

@mixin gradient {
    @include navBackground;

    color: white;
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

@mixin image {
    padding: 25px;
    margin: 0 auto 20px auto;
    box-shadow: 3px 3px 5px #777;
    border-radius: 4px;
}

@mixin imageDescription {
    color: $base3;
    @include characterFont;
    width: 600px;
    max-width: 100%;
    margin: -8px auto 30px auto;
    font-size: 15px;
    .emoticon {
        width: 24px;
    }
}

@mixin movieDescription {
    @include imageDescription;
    width: 300px;
    margin-top: 0;
    font-size: 25px;
    .emoticon {
        width: 32px;
    }
}

@mixin h1 {
    h1 {
        margin: 0;
        padding: 10px 0;
    }
}