#reviews {
    width: 600px;
    margin: 0px auto 20px auto;
    font-size: 16px;
    .review {
        margin-bottom: 25px;
        border: 1px solid $base2;
        border-radius: 4px;
        padding: 25px;
    }
    a {
        //color: lighten($base1, 20%);
        color: $lightPink;
    }
}